body
{
    text-align: center;
    background-color: #ffd4d4;
    font-family: "arial", sans-serif;
}
h1 
{
    color: #ff6c6c
}
button
{
    padding: 10px;
    font-size: 18px;
    background-color: #e91e63;
    color: #ffffff;
    border:  none;
    border-radius: 59px;
    cursor: pointer;
}
button:hover
{
    background-color: #c2185b;
}

.result
{
    margin-top: 40px;
    font-size: 50px;
    color: #555
}
